<div class="reservation-confirm-wrapper">
  <%= form_with model: @reservation, url: {controller: 'reservations', action: 'create' } do |f| %>
    <%= f.hidden_field :room_id, :value => @reservation.room_id %>
    <%= f.hidden_field :user_id, :value => @reservation.user_id %>
    <%= f.hidden_field :start_date, :value => @reservation.start_date %>
    <%= f.hidden_field :end_date, :value => @reservation.end_date %>
    <%= f.hidden_field :people, :value => @reservation.people %>
    <%= f.hidden_field :room_image, :value => @reservation.room_image %>
    <%= f.hidden_field :room_name, :value => @reservation.room_name %>
    <%= f.hidden_field :room_introduction, :value => @reservation.room_introduction %>
    <%= f.hidden_field :room_total_price, :value => @reservation.room_total_price %>

    <div class="reservation-confirm-box">
      <p class="reservation-confirm-box-title">予約内容確認</p>
      <p class="reservation-confirm-box-price">¥ <%= @room.price %> / 日</p>
      <p class="reservation-confirm-box-frame-title">開始日</p>
      <p class="reservation-confirm-box-frame"><%= @reservation.start_date %></p>
      <p class="reservation-confirm-box-frame-title">終了日</p>
      <p class="reservation-confirm-box-frame"><%= @reservation.end_date %></p>
      <p class="reservation-confirm-box-text">
        使用日数 :
        <%= (@reservation.end_date - @reservation.start_date).to_i %>泊<%= (@reservation.end_date - @reservation.start_date).to_i + 1 %>日
      </p>
      <p class="reservation-confirm-box-text">人数 : <%= @reservation.people %>人</p>
      <p class="reservation-confirm-box-frame-title">合計金額</p>
      <p class="reservation-confirm-box-frame"><%= @reservation.room_total_price %></p>
      <p class="reservation-confirm-box-confirm">上記内容でよろしければ「予約を確定」を押してください</p>
      <div class="reservation-confirm-box-links">
        <%= f.submit "予約を確定",class: "reservation-confirm-box-link-1" %>
        <%= link_to "ルーム詳細に戻る", "/rooms/#{@reservation.room_id}", class: "reservation-confirm-box-link-2" %>
      </div>
    </div>
  <% end %>
</div>
